<app-header></app-header>

<div class="container">
  <h2 class="pt-3 pb-3">Your cart</h2>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Unit</th>
          <th scope="col">Category</th>
          <th scope="col" class="text-center">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of productAddedTocart; let q - index">
          <th scope="row">1</th>
          <td>{{prod.name}}</td>
          <td>{{prod.unit}}</td>
          <td>{{prod.category}}</td>
          <td>
            <div class="input-group">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" data-type="minus" (click)="onRemoveQuantity(prod)">
                    <span class="glyphicon"><i class="fas fa-minus"></i></span>
                  </button>
              </span>
              <input type="text" name="quant[1]" class="form-control input-number text-center" [ngModel] ="prod.available" (ngModelChange) ="prod.available=$event" min="1" max="10" style="width:30px">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" data-type="plus" (click)="onAddQuantity(prod)">
                      <span class="glyphicon"><i class="fas fa-plus"></i></span>
                  </button>
              </span>
          </div>
          </td>
          <!-- <td>{{prod.available}}</td> -->
          <td>{{prod.price * prod.available}}</td>
          <td>
            <button type="button" (click)="removeProduct(prod)" class="btn btn-default"><i class="fas fa-trash-alt" style="color: red;"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row d-flex justify-content-between align-items-center p-3 footer" style="width:100%">
        <div>
          <h5>Total: {{ allTotal }}</h5>
        </div>
        <div>
          <button type="submit" class="btn btn-primary mr-3">Buy</button>
        </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
