nav {
  padding: 20px 11%;

  .logo{
    width: 50px;
    height: 50px;
    background-image: url(src/assets/images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -7px;
  }

  .btn-primary{
    background-color: #FF7777;
    border-color: #FF7777;
  }
  .bg-success{
    color: #fff;
    border: 0;

    span{
      color: #fff;
    }
  }

}
