<section id="section-2">
  <div class="container">
    <form [formGroup]="contactForm">
      <div class="row align-items-center">
        <div class="col-md-3">
          <a routerLink="">Return to Contacts</a>
          <h1>Add contact</h1>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2">
        <button type="submit" [disabled]="!contactForm.valid" [ngClass]="{'btn-primary-disabled': disabled}" (click)="save($event)" class="btn btn-primary-active">Save</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 p-0">
          <div class="add-contact-image d-flex align-items-center text-center">
            <div class="d-flex align-items-center m-auto">
              <span></span>
              <p>Add photo</p>
            </div>
          </div>
          <div class="add-contact-image-body">
            <div class="d-flex justify-content-between">
              <div>
                <input class="first-name" placeholder="First name" type="text" formControlName="first_name">
                <span *ngIf="!contactForm.get('first_name').valid && contactForm.get('first_name').touched" class="help-block">Please enter a valid name!</span>
                <div>
                  <div formArrayName="emails">
                    <div class="addItemSection" *ngFor="let email of contactForm.get('emails').controls; let i = index">
                      <input class="email" placeholder="E-mail-{{i}}" type="email" [formControlName]="i">

                      <span (click)="onDeleteEmail(i)" class="deleteIcon"><i class="fas fa-times"></i></span>
                    </div>
                    <a *ngIf="contactForm.get('emails').length < 3" (click)="onAddEmail()"><i class="fal fa-plus"></i> Add email</a>
                  </div>
                </div>
              </div>

              <div>
                <input class="last-name" placeholder="Last name" type="text" formControlName="last_name">
                <div>
                  <div formArrayName="phones">
                    <div class="addItemSection" *ngFor="let phone of contactForm.get('phones').controls; let j = index">
                        <input class="phone" placeholder="Phone-{{j}}" type="text" [formControlName]="j">  

                        <span (click)="onDeletePhone(j)" class="deleteIcon"><i class="fas fa-times"></i></span>
                    </div>
                    <a (click)="onAddPhone()" *ngIf="contactForm.get('phones').length < 3"><i class="fal fa-plus"></i> Add phone number</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form >
  </div>

  <!-- <pre>{{ contactForm.value | json }}</pre> -->

</section>