<section id="contact">
    <div class="contact-forma">
        <h6>Contact us</h6>
        <div>
            <section id="hire">
                <form [formGroup]= "contactusForm" (ngSubmit)= "sendMessage(contactusForm.value)">
                    <div class="field name-box">
                        <input type="text" id="name" name="name" formControlName="name" placeholder="Who Are You?" />
                        <label for="name">Name</label>
                        <span class="ss-icon">check</span>
                    </div>

                    <div class="field email-box" >
                        <input type="text" id="email" formControlName="email" name="email" placeholder="name@email.com" />
                        <label for="email">Email</label>
                        <span class="ss-icon">check</span>
                    </div>

                    <div class="field msg-box">
                        <textarea id="msg" rows="4" name="message" formControlName="message" placeholder="Your message goes here..."></textarea>
                        <label for="msg">Msg</label>
                        <span class="ss-icon">check</span>
                    </div>

                    <input class="button pulse" type="submit" [class.disabled]="!contactusForm.valid" name="Send" value="Send" /><br>

                    <a href="+381/66-9777-138">
                        <p>CALL US:<br> +381/66-9777-138</p>
                    </a>
                </form>
            </section>
        </div>
    </div>
</section>
