<section id="about-us">
    <div>
        <div class="onama" data-aos="fade-right">
              <h6>What we do</h6>
            <br><br><br>
            <p>We design. We develop. We know how to make your application famous.
                <br><br>
                We love challenges and we enjoy helping our clients bring innovation to the market. Our enthusiasm,
                startup passion and ideas make a strong impact & change the way people are experiencing the world
                today.
            </p>
            <a href="#contact"><i class="fas fa-caret-down"></i></a>
        </div>
    </div>
</section>
