<section>
    <header class="header" id="header" [@header]>
        <nav class="nav-bar">
            <picture>
                <a href="#header">
                    <source srcset="../../assets/logo.webp" type="image/webp"></a>
                <a href="#header">
                    <source srcset="../../assets/logo.png" type="image/png"></a>
                <a href="#header"><img src="../../assets/logo.png" alt=""></a>
            </picture>
            <ul class="main-menu">
                <a href="#about-us">
                    <li>About us</li>
                </a>
                <a href="#Our-projects">
                    <li>Our projects</li>
                </a>
                <a href="#contact">
                    <li>Contact</li>
                </a>
            </ul>


            <!-- hamburger -->
            <nav role="navigation" class="hamburger">
                <div id="menuToggle">
                    <input type="checkbox" />

                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                        <div></div>
                        <a href="#about-us">
                            <li>About us</li>
                        </a><br>
                        <a href="#Our-projects">
                            <li>Our projects</li>
                        </a><br>
                        <a href="#contact">
                            <li>Contact</li>
                        </a>
                    </ul>
                </div>
            </nav>
        </nav>
        <div class="heading">
            <h1>A website is vital to any modern business. <br>
                Even if you sell locally or by word of mouth, your customers are
                looking for you on the web.</h1>
            <br><br>
            <div class="gif"></div>
        </div>  
    </header>
</section>