* {
    margin: 0;
    padding: 0;

    body {
        $mainColor: #FF0000;

        background-color: #F9F9F9;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;

        a:hover {
            opacity: .6;
            cursor: pointer;
        }

        h1,
        h2,
        h3 {
            color: #000000;
            font-family: Raleway;
            text-align: center;
            font-weight: bold;
        }

        h1 {
            font-size: 34px;
            letter-spacing: 0.03px;
            line-height: 40px;
        }

        h2 {
            font-size: 24px;
            letter-spacing: 0.02px;
            line-height: 29px;
        }

        h3 {
            font-size: 14px;
            letter-spacing: 0.01px;
            line-height: 16px;
        }

        .inactive {
            display: none;
        }

        button {
            height: 52px;
            width: 180px;
        }
        
        .btn:disabled {
            opacity: 0.25;
        }

        .btn:hover {
            color: #fff;
            cursor: pointer;
        }

        .btn-primary-disabled {
            font-weight: bold;
            border-radius: 0;
            color: #fff;
            background-color: #D5D5D5;
        }

        .btn-primary-active {
            font-weight: bold;
            border-radius: 0;
            color: #fff;
            background-color: $mainColor;
        }

        .btn-secondary {
            background-color: #000000;
            font-weight: bold;
            border-radius: 0;
            color: #fff;
            font-size: 22px;
            letter-spacing: 0.02px;
            line-height: 26px;
        }
    }
}