.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  color: #fff;
  padding: 20px;
  background: rgba(0,0,0,0.3);
}

img {
  border-radius: 100%;
  width: 140px !important;
  height: 140px;
  object-fit: cover;
  margin: auto;
}
