<section id="section-1">
  <div class="containter">
    <div class="row">
      <div class="col-md-2">
        <h1>Contacts</h1>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <a routerLink="/add-contact" class="home-btn"><i class="fal fa-plus"></i>Add</a>
      </div>
    </div>
    <div class="row home-body">
      <div class="col-md-auto person" *ngFor="let contact of contacts | async">
        <div class="person-heading d-flex align-items-center justify-content-start">
          <div class="person-heading-1">
            <img src="{{contact.photo}}" alt="">
          </div>
          <div class="person-heading-2">
            <h2>{{contact.first_name}} <br> {{contact.last_name}}</h2>
          </div>
        </div>
        <div class="person-body">
          <h3>E-mail</h3>
          <ul>
            <li *ngIf="contact.emails[0] !== contact.emails[null]"><i class="far fa-envelope"></i> {{ contact.emails[0] }}</li>
            <li *ngIf="contact.emails[1] !== contact.emails[null]"><i class="far fa-envelope"></i> {{ contact.emails[1] }} </li>
            <li *ngIf="contact.emails[2] !== contact.emails[null]"><i class="far fa-envelope"></i> {{ contact.emails[2] }} </li>
          </ul>
        </div>
        <div class="person-body">
          <h3>Phone</h3>
          <ul>
            <li *ngIf="contact.phones[0] !== contact.phones[null]"><i class="far fa-phone-alt"></i> {{ contact.phones[0] }} </li>
            <li *ngIf="contact.phones[1] !== contact.phones[null]"><i class="far fa-phone-alt"></i> {{ contact.phones[1] }} </li>
            <li *ngIf="contact.phones[2] !== contact.phones[null]"><i class="far fa-phone-alt"></i> {{ contact.phones[2] }} </li>
          </ul>
        </div>
        <a (click)="editContact(contact)" class="edit">Edit</a>
        <a (click)="deleteContact(contact)" class="delete">Delete</a>
      </div>
    </div>
  </div>
</section>